body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  padding-top: 160px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.layout_content {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: 430px;
  overflow: auto;
}
